@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');


html {
    background-image: linear-gradient(rgb(241, 205, 220), rgb(116, 221, 195));
    height: 100%;
    padding: 10px;
    
}
* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

button {
    background-color: rgb(202, 245, 231, 0.5);
    border: 2px solid rgb(192, 231, 192, 0.5);
    border-radius: 10%;
    color:rgb(77, 77, 77);}

input {
    background-color: rgb(202, 245, 231, 0.5);
    border: 2px solid rgb(192, 231, 192, 0.5);
    border-radius: 10%;
    color:rgb(77, 77, 77);
    margin-bottom: 10px;
   
}

:checked + label{
    text-decoration:line-through;
    color:rgb(73, 122, 103);
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

h1 {

}

footer{
    margin-top:20%;
}


